<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Groceries</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="w3-container">
    <h2>Grocery List</h2>
    <table class="w3-table w3-bordered w3-striped">
        <thead>
        <tr class="w3-light-grey">
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Surname</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempPr : ${productList}">
            <td th:text="${tempPr.getId()}"></td>
            <td th:text="${tempPr.getTitle()}"></td>
            <td th:text="${tempPr.getDescription()}"></td>
            <td th:text="${tempPr.getPrice()}"></td>
            <td th:text="${tempPr.getQuantity()}"></td>
            <td th:text="${tempPr.getSurname()}"></td>
            <td th:text="${tempPr.getAge()}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
